.Web__Nav {
  position: fixed;
  font-family: "Noto-Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #B2B0B0;
  letter-spacing: 1.5px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #B2B0B0;
}

a :hover {
  color: #B2B0B0;
}

h4 {
  font-family: inherit;
}

li {
  font-size: 14px;
  list-style-type: none;
  height: 28px;
}

.Web__Nav__Logo {
  font-size: 30px;
  /* background-color: lightblue; */
}

.Web__Nav__MainNav {
  padding-top: 20px;
}

.Web__Nav__SecondaryNav {
  margin-top: 20px;
}

.Web__Nav__SocialMedia {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.Web__Nav__SocialMedia li {
  padding-right: 10px;
  font-size: 18px;
}
